name: MultiAdmin Build

on: [push, pull_request]

jobs:
  build:
    name: .NET ${{matrix.framework}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        framework: ['5.0']
        include:
        - os: ubuntu-latest
          target: linux-x64
        - os: windows-latest
          target: win-x64
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2.3.4

    - if: matrix.os == 'ubuntu-latest'
      name: Install Linux packages
      run: |
        sudo apt update
        sudo apt install -y build-essential libkrb5-dev make gcc libc-dev cmake llvm

    - name: Setup .NET
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: ${{matrix.framework}}

    - name: Install dependencies for ${{matrix.target}}
      run: dotnet restore -r ${{matrix.target}}

    - name: Build ${{matrix.target}}
      run: dotnet publish -r ${{matrix.target}} -c Release -o "${{github.workspace}}/Builds/${{matrix.framework}}/${{matrix.target}}" "MultiAdmin"

    - name: Test
      run: dotnet test

    - name: Upload ${{matrix.target}} build
      uses: actions/upload-artifact@v2.2.2
      with:
        name: MultiAdmin-${{matrix.target}}-${{matrix.framework}}
        path: ${{github.workspace}}/Builds/${{matrix.framework}}/${{matrix.target}}

    - name: Upload ${{matrix.target}} build to bundle
      uses: actions/upload-artifact@v2.2.2
      with:
        name: MultiAdmin-all-${{matrix.framework}}
        path: ${{github.workspace}}/Builds/${{matrix.framework}}
